/*reset*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*background: rgba(0,0,0,.1);*/
}

body {
    font-size: 14px;
    color: #444;
}

a {
    text-decoration: none;
}

/*container*/
.container {
    max-width: 1080px;
    margin: 0 auto;
    display: block;
}

/*float*/
.fl {
    float: left;
}

.fr {
    float: right;
}

/*清除浮动*/
.clear-float:after, .clear-float:before {
    content: ' ';
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    position: relative;
    display: block;
    min-height: 1px;
    float: left;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

/*reset end */


/*top-nav*/
.top-nav {
    background: darkgray;
}
.top-nav .item{
    display: inline-block;
    padding:6px 10px;
    color: #666;
}

/*鼠标移动变色*/
.top-nav .item:hover{
    color:#00A2C1;
}

/*header*/
.header{
    padding:20px 0;
}